{% extends 'core/layouts/base.html' %}

{% block title %} Edit Profile {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 500px; background-image: url(/static/core/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"> 
          Hello {{ request.user.username }}
        </h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks.</p>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit profile </h3>
            </div>
            <div class="col-4 text-right">
              <a href="{% url 'userprofile' %}" class="btn btn-sm btn-primary">Back to Profile</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'edit_profile' %}" class="needs-validation" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}

            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="{{ form.username.auto_id }}">Username</label>
                    {{ form.username }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="{{ form.email.auto_id }}">Email address</label>
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="{{ form.first_name.auto_id }}">First name</label>
                    {{ form.first_name }}
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="{{ form.last_name.auto_id }}">Last name</label>
                    {{ form.last_name }}
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="{{ form.address.auto_id }}">Address</label>
                    {{ form.address }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="{{ form.city.auto_id }}">City</label>
                    {{ form.city }}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="{{ form.country.auto_id }}">Country</label>
                    {{ form.country }}
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="{{ form.postal_code.auto_id }}">Postal code</label>
                    {{ form.postal_code }}
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label class="form-control-label">About Me</label>
                {{ form.about_me }}
              </div>
            </div>
            <hr class="my-4" />
            <!-- Additional fields as needed -->

            <div class="row justify-content-end">
              <div class="col-4">
                <input type="submit" class="btn btn-sm btn-primary" value="Save Changes">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "core/includes/footer/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
